* {
    -webkit-font-smoothing: antialiased;
}

.aboutus {
    display: inline-block;

    padding-bottom: 5vh;

    text-align: justify;
}

.aboutus h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.aboutus h2 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 0px;
}

.aboutUsImg {
    width: 30vw;
    height: 100%;
    object-fit: cover;
}

.aboutUsContent {
    margin-right: 5vw;
    margin-left: 5vw;
}

.aboutUsContent li {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.whoWeAreList {
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;

    padding: 0;
}

.slide5Highlight {
    font-weight: bold;
    color: #5b4c43;
    text-shadow: #5b4c43 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 700px) {
    .aboutus {
        width:80%;
    }
}

@media (min-width: 701px) {
    .aboutus {
        width: 100%;
    }
}
