.home_carousel{
  margin-bottom: 4rem;
}

.carousel {
  margin-top: 2em;
  border: none;

  min-height: 60vh;

  border-radius: 25px;
}

.homeButtonIcon {
  margin-right: 10px;
}

@media (max-width: 700px) {
  .carousel {
    width: 90vw;
  }

  .secondItem {
    flex-direction: column;
    margin: 0 0;
  }

  .secondItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .secondItemImage {
    margin-bottom: 0.5em;
    border-radius: 5em;
    width: 10em;
    height: 10em;
  }

  .firstItem {
    text-align: left;
  }
}

.carousel-indicators li {
  visibility: hidden;
}

/*.carousel-control-next {visibility: hidden;}*/
/*.carousel-control-prev {visibility: hidden;}*/

@media (min-width: 700px) {
  .carousel {
    width: 65vw;
    background: transparent
      linear-gradient(
        180deg,
        rgba(229, 234, 238, 0.8) 0%,
        rgba(176, 206, 207, 0.8) 100%
      )
      0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
  }

  .secondItem {
    flex-direction: row;
    margin: 0 5em;
  }

  .secondItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    height: fit-content;
  }

  .secondItemImage {
    border-radius: 7.5em;
    width: 15em;
    height: 15em;
  }
}

.carouselContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.carouselItem {
  height: fit-content;
}

.firstItem {
  width: 90%;
  margin: 0.5em auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondItem {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.homeButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonHome {
  height: fit-content;
  width: 15em;
  border-radius: 1.5em;
  font-size: 1.1em;
  margin-top: 1.5em;
}

.buttonHome:last-child {
  margin-right: 0;
}
