.aboutUs{
    margin-bottom: 50px;
}

.aboutUs h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.aboutUs h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.aboutUs h4{
    font-size: 1.25rem;
    text-align: center;
    margin: 40px 0 50px 0;
}

.reverse{
    flex-direction: row-reverse;
}

.split{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.splitMid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.split p, .splitMid p{
    font-size: 1.3rem;
    max-width: 1000px;
    margin: 25px auto;
}

.text{
   flex: 1 1;
}

.text ul{
    margin: auto;
    margin-top: 30px;
    padding: 0;
    width: fit-content;
}

.text div{
    width: 80%;
    margin: auto;
}

.text ul li, .centeredText ul li{
    font: normal normal 700 1.3rem/2.75rem crimsonfont;
    color: var(--brown);
}

.center{
    text-align: center;
}

.text span{
    text-shadow: #5b4c43 0 0 1px;
}

.image{
    display: none;
}

.image img{
    width: 100%;
}

.imagePadding{
    padding-left: 40px;
}

.paperPlane{
    margin: auto;
    margin-top: 60px;
    width: 100%;
    max-height: 90px;
} 

/* Desktop */
@media screen and (min-width: 725px){
    .aboutUs h1{
        font-size: 2.25rem;
        margin-bottom: 30px;
    }

    .abooutUs h2{
        font-size: 1.75rem;
    }

    .abooutUs h4{
        font-size: 1.5rem;
        text-align: center;
        margin: 15px 0 50px 0;
    }

    .text{
        flex: .65 .65;
    }

    .image{
        display: flex;
        flex: .35 .35;
        align-items: center;
        justify-content: flex-end;
    }

    .center{
        flex: .5;
    }

    .paperPlane{
        max-height: 150px;
    }
}