.contact{
    text-align: center;
}

.connect{
    margin-bottom: 50px;
    border-bottom: 1px solid var(--dark-brown);
}

.paperPlane{
    margin-top: 60px;
    width: 80%;
    max-height: 150px;
} 

.contact p{
    margin-bottom: 10px;
}

.contact h1{
    margin-bottom: 10px;
}

.contactText{
    margin-bottom: 30px;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.socials a{
    height: 50px;
}

.socials img{
    height: 100%;
}

/* Desktop */
@media screen and (min-width: 725px){
    .socials a{
        height: 75px;
    }
}