html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-family: berkshireswash,sans-serif;
  color: var(--dark-brown);
}

h2, h3, h4, h5, h6{
  font-family: crimsonfont,sans-serif;
  color: var(--dark-brown);
}

h1 {
  font-size: 2rem;
}

h2{
  font-size: 1.25rem;
}

p{
  font: normal normal 700 1.125rem/1.25em printclearly;
  color: var(--brown);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
   /* Background Gradient Colors */
   --off-white: #fefaf0;
   --light-brown: #f7ecd2;
 
  /* Colors */
  --brown: #846859;
  --dark-brown: #5b4c43;
  --gray: #F3F3F3;
  --blue: #ccdfdf;
}

@font-face {
  font-family: 'berkshireswash';
  src: url('./fonts/berkshireswash-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'printclearly';
  src: url('./fonts/print_clearly_bold_tt.ttf') format('truetype');
}

@font-face {
  font-family: 'crimsonfont';
  src: url('./fonts/Crimson-Bold.otf') format('opentype');
}

