.privacy{
    background-color: var(--gray);
    padding: 50px 4rem 100px 4rem;
}

/* Mobile */
@media screen and (max-width: 725px){
    .privacy{
        padding: 50px 2.5rem 100px 2.5rem;
    }
}

.privacy > div > p{
    margin-bottom: 30px;
}